
.text-olive-100 { color: #e8f0e1; }
.text-olive-200 { color: #cfdcc2; }
.text-olive-300 { color: #b3c6a3; }
.text-olive-400 { color: #99af84; }
.text-olive-500 { color: #7f9965; }
.text-olive-600 { color: #667b4e; }
.text-olive-700 { color: #4e5e3a; }  
.text-olive-800 { color: #39472c; }
.text-olive-900 { color: #29351e; }
.bg-olive-200 { background-color: #cfdcc2; }
.bg-olive-700 { background-color: #4e5e3a; }

